.infoboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.infobox {
  min-width: 15rem;
  flex-grow: 1;
  flex: 1;

  background-color: var(--bg-secondary);
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  padding: 1rem 0.5rem;

  transition: 0.2s all ease-in-out;
  border: none;

  cursor: pointer;
}

.infobox:hover {
  background-color: rgb(233, 227, 227);
}

.infobox__left img {
  max-height: 3.3rem;
}

.infobox__right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.infobox__right span {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 1.3rem;
}
.infobox__right > :first-child {
  font-weight: 600;
  font-size: 1rem;
}

/* @media screen and (max-width: 650px) {
  .infobox__left img {
    display: none;
  }

  .infobox {
    min-width: 10rem;
  }
} */
