.sidebar {
  background-color: var(--bg-primary);
  width: 4rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem 0 1rem 0;

  position: fixed;
  top: 0;
  bottom: 0;
}

.logoContainer {
  margin-bottom: 2rem;
  cursor: pointer;
}
.logoContainer img {
  scale: 0.7;
}

.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* gap: 2rem; */
}
.navLinks li {
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  padding: 1rem;
  border-radius: 10px;
}
.navLinks li:hover {
  scale: 0.93;
  background-color: var(--text-secondary);
}
