.main {
  display: flex;
  flex-direction: row;

  position: relative;
}

.main__right {
  flex: 1;

  padding: 1.5rem;
  margin-left: 4rem;

  display: flex;
  flex-direction: column;
}

.product_name {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.created__at_text {
  font-size: 0.9rem;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.pages__infoboxes {
  margin-bottom: 2rem;
}

.filter__container {
  margin-bottom: 2rem;
}

.tasks {
}

.tasks__span {
  font-weight: 700;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
}

.tasks__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--bg-secondary);
}

.add__button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: var(--text-secondary);
  border-radius: 50%;
  cursor: pointer;

  box-shadow: -3px -1px 41px -13px rgba(109, 49, 237, 1);
  -webkit-box-shadow: -3px -1px 41px -13px rgba(109, 49, 237, 1);
  -moz-box-shadow: -3px -1px 41px -13px rgba(109, 49, 237, 1);

  transition: 0.2s all ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}
.add__button:hover {
  box-shadow: -3px -1px 41px -10px rgba(109, 49, 237, 1);
  -webkit-box-shadow: -3px -1px 41px -10px rgba(109, 49, 237, 1);
  -moz-box-shadow: -3px -1px 41px -10px rgba(109, 49, 237, 1);
}

.add__button img {
  height: 4rem;
  width: 4rem;
}

@media screen and (max-width: 560px) {
  .add__button {
    right: 1rem;
    bottom: 1rem;
  }
}
