.main {
  display: flex;
  flex-direction: row;
}
.main__right {
  flex: 1;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;
}

.product_name {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.created__at_text {
  font-size: 0.9rem;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.pages__infoboxes {
    margin-bottom: 2rem;
}

.filter__container {
  margin-bottom: 2rem;
}

.tasks {
}

.tasks span {
  font-weight: 700;
  font-size: 1.5rem;
}

.tasks__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--bg-secondary);
}
