.task__list {
  display: flex;
  flex-direction: row;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

@media screen and (max-width: 1135px) {
  .task__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 890px) {
  .task__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 630px) {
  .task__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
